/* Estilos generales */
.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
  min-height: 100vh;
  color: #333;
}

.app-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
}

/* Estilos para la lista de películas */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* Contenedor de la tarjeta de película */
.movie-card {
  width: 200px; /* Ancho fijo para las tarjetas */
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
  cursor: pointer;
  margin: 15px;
}

/* Efecto de zoom y sombra al pasar el ratón */
.movie-card:hover {
  transform: translateY(-10px); /* Mueve la tarjeta hacia arriba */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

/* Estilo de la imagen de la película */
.movie-image {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 300px; /* Altura fija */
  object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen si es necesario */
  border-bottom: 3px solid #f1f1f1; /* Línea separadora entre la imagen y el texto */
  transition: transform 0.3s ease; /* Transición para el efecto hover */
}

/* Efecto de zoom en la imagen */
.movie-card:hover .movie-image {
  transform: scale(1.1); /* Escala la imagen al pasar el ratón */
}

/* Estilos para el título y género */
.movie-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Estilo para el texto de género */
.movie-card p {
  font-size: 1rem;
  color: #777;
  text-align: center;
}
